extends ../layouts/common

block content

	h1 Users

	a(href="/users/create") New

	form.d-flex(action="/users/search", method="get")
		input.form-control.mr-2(type="text", name="q")
		button.btn.btn-primary Search

	ul
		each user in users
			li
				span= user.name
				span &nbsp
				a(href="/users/" + user.id) View